.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 5rem;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

.contact-info {
    text-align: center;
    margin-bottom: 30px;
}

.contact-info i {
    color: var(--accent-color);
    margin-right: 10px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-form {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: var(--accent-color);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background-color);
}

.contact-form button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: var(--hover-color);
}